{% extends 'base.html' %}
{% load staticfiles %}

<link href="{% static "style.css" %}" rel="stylesheet" media="screen">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>Welcome</title>
  </head>
  <body>

{% block main %}


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>1.</h2>
            <p>Choose Band</p>
          <p><a class="btn btn-default" href="{% url 'index' %}" role="button">GO &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>2.</h2>
          <p>Your Profile</p>
          <p><a class="btn btn-default" href="{% url 'artist_data' %}" role="button">GO &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>3.</h2>
          <p>fuck the sience!</p>
          <p><a class="btn btn-default" href="#" role="button">GO &raquo;</a></p>
        </div>
      </div>
    </div>
{% endblock %}

  </body>
</html>