
{% extends 'base.html' %}
{% load staticfiles %}
<link href="{% static "dopstyle.css" %}" rel="stylesheet" media="screen">

{% block title %}Choose your band!{% endblock %}
{% block head %}Choose your band!{% endblock %}
      {% block main %}
<style>
            .grid-container {

                display: grid;
                grid-template-columns: 265px 265px 265px;

            }

            .grid-item {
                box-sizing: border-box;
                text-align:left;
                height: 100%;
                display: flex;
                flex-wrap: wrap;

                padding:2px;
                color: white;
            }

        </style>
      <div class="container">
        <div class="row.display-flex">
          <div class="col-sm-12 col-md-7 col-lg-9">

              <div class="grid-container">
                  {% for item in band %}
                    <div class="grid-item">
                        {% include "thumbbase.html" with image=item.image name=item.name id=item.id %}
                    </div>
                  {% endfor %}

              </div>


          </div>
        <aside class="col-sm-12 col-md-5 col-lg-3">
            <div class="row">
              <div id="id_descr" class="col-sm-6 col-md-12">
                <h2>Band Description</h2>

                <p id="iddescr">{{band.description}}</p>
                
              </div>
              <div class="col-sm-6 col-md-12">
                  {% block background_inf %}{% endblock %}


              </div>
            </div>
          </aside>
        </div>
      </div>
{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'index' page_obj.previous_page_number %}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'index' page_obj.next_page_number %}">next</a>
                {% endif %}
            </span>
        </div>

{% else %}
    <h3>Bands</h3>
    <p>No bands found!</p>
{% endif %}



    {% endblock %}
